/* You can add global styles to this file, and also import other style files */

html {
    --bg-color-main: #7777ff;
    --text-color-main: #000000;
    --container-bg-color: #5555ee;
    --container-border-color: #4444aa;
    --elem-bg-color: #4444dd;
    --elem-border-color: #2222aa;
    --elem-hover-bg-color: #6666ff;
    --elem-hover-border-color: #222299;
    --dark-elem-bg-color: #2222aa;
    --dark-elem-border-color: #111188;
    --dark-elem-hover-bg-color: #4444cc;
    --dark-elem-hover-border-color: #2222aa;
}


body {
    background-color: var(--bg-color-main);
    color: var(--text-color-main);
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.container {
    background-color: var(--container-bg-color);
    border: 2px solid var(--container-border-color);
}

button, .button {
    display: inline-block;
    background-color: var(--elem-bg-color);
    border: 2px solid var(--elem-border-color);
    color: var(--text-color-main);
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
}

button:hover, .button:hover {
    cursor: pointer;
    background-color: var(--elem-hover-bg-color);
    border-color: var(--elem-hover-border-color);
}



.col-flex {
    display: flex;
    flex-direction: column;
}

.row-flex {
    display: flex;
    flex-direction: row;
}



.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}



